<!doctype html>
<html>
<head>
    <!-- Include the formset's media -->
    {{ email_formset.media }}
</head>

<body>


<form method="post" enctype="multipart/form-data"> <!-- enctype: form submits a photo -->

    {% csrf_token %}
    <!-- Render formset using the following basic structure -->
    <div id="formset">
        <div id="forms-container">
            {% for email_form in email_formset.forms %}
                <div class="form">
                    {{ email_form }}
                    {% if email_formset.can_delete %}{{ email_form.DELETE }}{% endif %}
                    <input type="button" id="delete-form-button" value="Delete">
                </div>
            {% endfor %}
        </div>

        <div>
            <input type="button" id="add-form-button" value="Add another">
        </div>

        <div id="empty-form" hidden>
            <div class="form">
                {{ email_formset.empty_form }}
                <input type="button" id="delete-form-button" value="Delete">
            </div>
        </div>
        {{ email_formset.management_form }}
    </div>

    <button type="submit">Submit</button>
</form>


<!-- Initialize a ConvenientFormset -->
<script>
    window.addEventListener('load', function (event) {
        event.preventDefault();

        {#console.log(email_formset)#}

        new ConvenientFormset({
            'formsetPrefix': '{{ email_formset.prefix }}',
            'formsContainerSelector': '#formset #forms-container',
            'formSelector': '.form',

            'canAddForms': true,
            'addFormButtonSelector': '#formset #add-form-button',
            'emptyFormSelector': '#formset #empty-form .form',

            'canDeleteForms': true,
            'deleteFormButtonSelector': '#delete-form-button',
        });
    });
</script>

</body>
</html>

